<main class="page-<%= pageData.template %>">
	<section class="top-mv">
		<ul class="mv-slider">
			<li class="mv-slider__item">
				<img src="<%= RELATIVE_PATH %>img/index/mv-img-01.jpg" alt="Power Your Business">
			</li>
			<li class="mv-slider__item">
				<img src="<%= RELATIVE_PATH %>img/index/mv-img-02.jpg" alt="Cool Head, Warm Heart">
			</li>
			<li class="mv-slider__item">
				<img src="<%= RELATIVE_PATH %>img/index/mv-img-03.jpg" alt="Create Another future">
			</li>
			<li class="mv-slider__item">
				<img src="<%= RELATIVE_PATH %>img/index/mv-img-04.jpg" alt="より良いリーガルサービスを目指して">
			</li>
			<li class="mv-slider__item">
				<img src="<%= RELATIVE_PATH %>img/index/mv-img-05.jpg" alt="法律家 x 最先端テクノロジー">
			</li>
			<li class="mv-slider__item">
				<img src="<%= RELATIVE_PATH %>img/index/mv-img-06.jpg" alt="SDGsを推進する 県内初の 法律事務所">
			</li>
		</ul>
	</section>
</main>